@charset "UTF-8";
/*All about font */
/*Hello User*/
.username {
  font-family: "Alfa Slab One", cursive;
}

.hello {
  font-family: "Exo 2", sans-serif;
}
/*End of  Hello User*/
p {
  font-family: "Exo 2", sans-serif;
}

/*End of all about font */

/* Login Part */
.form-popup {
  display: none;
}

/*restart & guess buttons*/
.btn1 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 20px;	
  border-radius: 60%;	
  border: #FFFFFF;
  background-color: #000;
  color: #fff;	
}

.btn1:hover {
  background-color: #cccccc;
  color: #fff;
}

.btn2 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 20px;		
  border-radius:60%;
  border: #FFFFFF;
  background-color: #000;
  color: #fff;		
}

.btn2:hover {
  background-color: #cccccc;
  color: #fff;
}

/*navbar wordly*/
.wordly {
  font-family: ultra, serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 30px;
}
/*End of navbar wordly*/

/* the board */
.CheckValue p {
  margin: 15px 30px;
  text-align: center;
}
/* end of the board */

/* logout button*/
.logoutbtn {
   font-family: "Exo 2", sans-serif;	
   text-align: center; 	
   position: fixed;
   bottom: 5px;
   font-size: 20px;	
   border-radius: 12px;	
   border: #FFFFFF;
   background-color: #000;
   color: #fff;		
}

.logoutbtn:hover {
  background-color: #cccccc;
  color: #fff;
}
/* End of logout button*/

/*See you next time*/
.synt {
  font-family: "Alfa Slab One", cursive;	
}
/*End of See you next time*/

/*Modal-Game how to play */
.htp {
   font-family: "Alfa Slab One", cursive;	
}

.save {
   font-family: "Exo 2", sans-serif;	
/*
   font-size: 20px;	
   border-radius: 12px;	
*/
   border: #FFFFFF;
   background-color: #000;
   color: #fff;		
}

.save:hover {
  background-color: #cccccc;
  color: #fff;
}
/*End  Modal-Game how to play */